REACT_APP_TEXT="A listener-centric, artist-driven event discovery aggregator"

# Spotify API
VITE_SPOTIFY_CLIENT_ID=your_spotify_client_id
VITE_SPOTIFY_CLIENT_REDIRECT_URL=http://127.0.0.1:3000/dashboard

# Elasticsearch
ES_HOST=https://localhost:9200
ES_USERNAME=elastic
ES_PASSWORD=your_es_password

# Extract Data Service
VITE_EXTRACT_DATA_URL=http://localhost:8000